
@{
    ViewData["Title"] = "Index";
}

<section class="map-cont" style="margin-top:40px;">
  <div class="container">
    <div class="row">
      <div style="float:left;display:inline-block;">
        <h2 class="display-5" style="text-align:center; font-weight:bold;">SignalR Chat Application</h2>
        <p style="width: 50%;margin: 20px auto;padding: 20px;float:left;">Web chat apps offer real-time transmission of messages using the internet. The app allows users to communicate with each other without a landline or mobile service.Web chat apps offer real-time transmission of messages using the internet. The app allows users to communicate with each other without a landline or mobile service.Web chat apps offer real-time transmission of messages using the internet. The app allows users to communicate with each other without a landline or mobile service.Web chat apps offer real-time transmission of messages using the internet. The app allows users to communicate with each other without a landline or mobile service.Web chat apps offer real-time transmission of messages using the internet. The app allows users to communicate with each other without a landline or mobile service.</p>
        <div style="width: 50%;margin: 20px auto;padding: 20px;float:left;">
        <img style="width: 100%;" src="~/Pictures/mail-new-mail-mails-svgrepo-com.svg" width="300px" height="300px" />
        </div>
      </div>
    </div>
  </div>
</section>
